<div class='home-content'>
    <h1>Welcome to the STAR-TIDES Knowledge Base</h1>
    <h2>
        Search our database of
        contacts, projects, guides, and more!
    </h2>
    <div class='search-box'>
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
            <mat-form-field aria-autocomplete="none" autocomplete="false" appearance="outline">
                <mat-label>Search the Knowledge Base</mat-label>
                <input matInput placeholder="Search..." type="text" autocomplete="false" name="search" ngModel>
                <button type="button" mat-icon-button matSuffix (click)="onSubmit(searchForm)">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>
</div>