.summary-container {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

:host ::ng-deep img {
    max-width: 50vw;
}

.guidance-card {
    margin-bottom: 10px;
}

.guidance-option-container {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}