<!--This header/footer layout comes from https://stackoverflow.com/a/56422126. -->
<div class='root' fxLayout='column' fxFlexFill>
  <div class='header-container'>
    <mat-toolbar color="primary" role="heading">
      <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink='/home' class='header-home-link'>STAR-TIDES Knowledge Base</a></span>
    </mat-toolbar>
  </div>
  <div class="main-container" fxFlex>
    <mat-drawer-container>
      <mat-drawer #drawer mode="side" class="side-menu">
        <div class='menu-item'>
          <div>
            <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
          </div>
          <div>
            <span><a routerLink='/home'>Home</a></span>
          </div>
        </div>
        <div class='menu-item'>
          <div>
            <mat-icon aria-hidden="false" aria-label="Contacts icon">contacts</mat-icon>
          </div>
          <div>
            <span><a routerLink='/contacts'>Contacts</a></span>
          </div>
        </div>
        <div class='menu-item'>
          <div>
            <mat-icon aria-hidden="false" aria-label="Projects icon">folder_special</mat-icon>
          </div>
          <div>
            <span><a routerLink='/projects'>Projects</a></span>
          </div>
        </div>
        <div class='menu-item'>
          <div>
            <mat-icon aria-hidden="false" aria-label="Guides icon">checklist</mat-icon>
          </div>
          <div>
            <span><a routerLink='/guides'>Guides</a></span>
          </div>
        </div>
        <div class='menu-item'>
          <div>
            <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
          </div>
          <div>
            <span><a routerLink='/query'>Search</a></span>
          </div>
        </div>
      </mat-drawer>
      <div class='main-content'>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
  <div class='footer-container'>
    <mat-toolbar color="primary" role="footer" class='footer'>
      <span>© STAR-TIDES, 2021-{{ now | date: 'YYYY' }}</span>
    </mat-toolbar>
  </div>
</div>