<div>
  <div class='title' fxLayout='column'>
    <h1>Welcome to the {{title}} app!</h1>
  </div>
  <div class='greeting' fxLayout='column'>
    <div>
      <h2>Aloha {{name}}!</h2>
    </div>
    <div fxLayout='row'>
      <div fxFlex='50'>BIG</div>
      <div fxFlex='25'>small</div>
      <div fxFlex='25'>also small</div>
    </div>
  </div>
  <div fxLayout=row>
    <div fxFlex='33'></div>
    <div fxFlex='33' fxLayoutAlign='center'>
      <button mat-raised-button color='primary'>Does Nothing!</button>
    </div>
    <div fxFlex='33' class='fill-blue'><pre>blue background!</pre></div>
  </div>
  <div class='column'>
    <h3>Below you will find router-based content:</h3>
  </div>
  <router-outlet></router-outlet>
</div>